<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.sbro.emucorea.probe">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="37" />
    <application android:extractNativeLibs="true" android:label="Storage validation">
        <provider
            android:name="probe.FixtureProvider"
            android:permission="android.permission.MANAGE_DOCUMENTS"
            android:authorities="com.sbro.emucorea.probe.files"
            android:exported="true"
            android:grantUriPermissions="true" />
    </application>
    <instrumentation android:name="probe.Probe" android:targetPackage="com.sbro.emucorea.probe" />
</manifest>
